<%- include('header'); %> 

    <div class="box">
        <div id="heading">
            <h1 class="title"><%= listName %> </h1>
        </div>
    </div>
    

        

    <div class="box">
      <% for(let i =0; i< newListItemsHtml.length; i++) {%> 

       
        <div class="item" name="item">
            <input type="checkbox" class="check">
            <p> <%= newListItemsHtml[i] %> </p>
        </div>       
      <% } %>

      <form action="/" method="POST" class="mg-bottom">
        <input type="text" name="newItem" id="textInput" placeholder="new Item" autocomplete="off" >
        <button type="submit" name="list" value= <%= listName %>>+</button>
    </form>

    </div>

    <script>
        const task = document.querySelector('.check');
        task.addEventListener('click', (e) => {
            console.log(e);
        });
    </script>

<%- include('footer'); %> 